.image{
    background-image: url('../Banner\ Image.png');
    width: 1320px;
    height: 600px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 50px 140px;
    
    
}
   
